n8n-workflows/2-traffic-scaling.json
{
  "name": "🚀 Traffic Scaling & Content - ZZ Lobby Elite",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "When Called by Master",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Products",
          "mode": "name"
        },
        "options": {}
      },
      "id": "get-products",
      "name": "Get Top Products",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [450, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Select top 3 products by conversion rate\nconst products = $input.all().map(item => item.json);\nconst sorted = products.sort((a, b) => \n  parseFloat(b.conversion_rate) - parseFloat(a.conversion_rate)\n);\n\nreturn sorted.slice(0, 3).map(product => ({\n  json: {\n    product_id: product.product_id,\n    product_name: product.product_name,\n    product_url: product.product_url,\n    niche: product.niche || 'make money online',\n    conversion_rate: product.conversion_rate,\n    commission: product.commission\n  }\n}));"
      },
      "id": "select-top-products",
      "name": "Select Top 3 Products",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1/models/gemini-pro:generateContent",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "={{ [{\"parts\":[{\"text\":\"Generate 20 high-converting SEO keywords for this affiliate product: \" + $json.product_name + \" in the \" + $json.niche + \" niche. Focus on buyer intent keywords with low competition. Format: one keyword per line.\"}]}] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "gemini-keywords",
      "name": "Gemini: Generate Keywords",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "gemini-api",
          "name": "Gemini API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1/models/gemini-pro:generateContent",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "={{ [{\"parts\":[{\"text\":\"Create a high-converting landing page HTML/CSS for: \" + $json.product_name + \". Include: Headline, 3 benefit bullets, emotional trigger, urgency element, strong CTA button. Make it mobile-responsive and conversion-optimized. Keywords: \" + $('Gemini: Generate Keywords').item.json.candidates[0].content.parts[0].text}]}] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "gemini-landing-page",
      "name": "Gemini: Generate Landing Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "gemini-api",
          "name": "Gemini API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract and clean HTML from Gemini response\nconst response = $input.first().json;\nconst htmlContent = response.candidates[0].content.parts[0].text;\n\n// Add affiliate tracking pixel and UTM parameters\nconst productUrl = $('Select Top 3 Products').item.json.product_url;\nconst trackingUrl = productUrl + '?utm_source=landing&utm_campaign=scaling';\n\n// Clean and enhance HTML\nconst enhancedHtml = htmlContent\n  .replace(/```html/g, '')\n  .replace(/```/g, '')\n  .replace('AFFILIATE_LINK_HERE', trackingUrl);\n\nreturn {\n  html: enhancedHtml,\n  productId: $('Select Top 3 Products').item.json.product_id,\n  filename: `landing-${$('Select Top 3 Products').item.json.product_id}-${Date.now()}.html`\n};"
      },
      "id": "process-landing-page",
      "name": "Process Landing Page HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "url": "https://api.netlify.com/api/v1/sites",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ 'zzlobby-' + $json.productId + '-' + Date.now() }}"
            },
            {
              "name": "custom_domain",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "create-netlify-site",
      "name": "Deploy to Netlify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "netlify-api",
          "name": "Netlify API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1/models/gemini-pro:generateContent",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "={{ [{\"parts\":[{\"text\":\"Create 10 viral social media posts (TikTok/Instagram style) to promote: \" + $('Select Top 3 Products').item.json.product_name + \". Each post should: hook in first 3 seconds, create FOMO, include trending hashtags, have clear CTA. Format: Post 1: [caption] | Hashtags: [tags]\"}]}] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "gemini-social-posts",
      "name": "Gemini: Generate Social Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "gemini-api",
          "name": "Gemini API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse and structure social media posts\nconst response = $input.first().json;\nconst rawContent = response.candidates[0].content.parts[0].text;\n\n// Split into individual posts\nconst posts = rawContent.split('Post ').filter(p => p.trim());\n\nreturn posts.slice(0, 10).map((post, index) => {\n  const [caption, hashtags] = post.split('Hashtags:');\n  return {\n    json: {\n      platform: ['tiktok', 'instagram', 'youtube', 'twitter', 'linkedin'][index % 5],\n      caption: caption.replace(/\\d+:/, '').trim(),\n      hashtags: hashtags ? hashtags.trim() : '',\n      landingUrl: $('Deploy to Netlify').first().json.url,\n      productId: $('Select Top 3 Products').item.json.product_id,\n      scheduledTime: new Date(Date.now() + (index * 2 * 60 * 60 * 1000)).toISOString()\n    }\n  };\n});"
      },
      "id": "process-social-posts",
      "name": "Process Social Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Content_Schedule",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "platform": "={{ $json.platform }}",
            "caption": "={{ $json.caption }}",
            "hashtags": "={{ $json.hashtags }}",
            "landing_url": "={{ $json.landingUrl }}",
            "product_id": "={{ $json.productId }}",
            "scheduled_time": "={{ $json.scheduledTime }}",
            "status": "scheduled"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "schedule-posts",
      "name": "Schedule Posts in Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1450, 500],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1/models/gemini-pro:generateContent",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "={{ [{\"parts\":[{\"text\":\"Create 5 Google Ads headlines (max 30 chars) and 3 descriptions (max 90 chars) for: \" + $('Select Top 3 Products').item.json.product_name + \". Focus on: urgency, benefits, social proof. Keywords: \" + $('Gemini: Generate Keywords').item.json.candidates[0].content.parts[0].text.split('\\n').slice(0,5).join(', ')}]}] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "gemini-ads",
      "name": "Gemini: Generate Ad Copy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "gemini-api",
          "name": "Gemini API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Ad_Campaigns",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ new Date().toISOString() }}",
            "product_id": "={{ $('Select Top 3 Products').item.json.product_id }}",
            "product_name": "={{ $('Select Top 3 Products').item.json.product_name }}",
            "landing_url": "={{ $('Deploy to Netlify').first().json.url }}",
            "keywords": "={{ $('Gemini: Generate Keywords').item.json.candidates[0].content.parts[0].text.split('\\n').slice(0,10).join(', ') }}",
            "ad_copy": "={{ $json.candidates[0].content.parts[0].text }}",
            "daily_budget": "20",
            "status": "ready_to_launch"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "save-campaign",
      "name": "Save Campaign to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1050, 100],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🚀 **Traffic Scaling Completed!**\n\n📦 Product: {{ $('Select Top 3 Products').item.json.product_name }}\n🌐 Landing Page: {{ $('Deploy to Netlify').first().json.url }}\n\n✅ Generated:\n• 20 SEO keywords\n• Conversion-optimized landing page\n• 10 social media posts scheduled\n• Google Ads campaign ready\n\n💰 Estimated reach: 10,000+ views/day\n📈 Target ROI: 300%\n\n🔥 System is scaling your traffic NOW!",
        "additionalFields": {}
      },
      "id": "telegram-notification",
      "name": "Send Success Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1250, 100],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "When Called by Master": {
      "main": [
        [
          {
            "node": "Get Top Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Top Products": {
      "main": [
        [
          {
            "node": "Select Top 3 Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Top 3 Products": {
      "main": [
        [
          {
            "node": "Gemini: Generate Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Generate Keywords": {
      "main": [
        [
          {
            "node": "Gemini: Generate Landing Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gemini: Generate Ad Copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Generate Landing Page": {
      "main": [
        [
          {
            "node": "Process Landing Page HTML",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gemini: Generate Social Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Landing Page HTML": {
      "main": [
        [
          {
            "node": "Deploy to Netlify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deploy to Netlify": {
      "main": [
        [
          {
            "node": "Process Social Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Generate Social Posts": {
      "main": [
        [
          {
            "node": "Process Social Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Social Posts": {
      "main": [
        [
          {
            "node": "Schedule Posts in Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Generate Ad Copy": {
      "main": [
        [
          {
            "node": "Save Campaign to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Campaign to Sheets": {
      "main": [
        [
          {
            "node": "Send Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-25T00:00:00.000Z",
  "versionId": "2"
}
